/* KEYFRAMES FOR SNAPCHAT */
@keyframes pl_sc {
  0% {
    left: 10px;
    transform:  translate(0,-100px);
  }
  0.1% {
    left: 10px;
    transform:  translate(0,-100px);
  }
  0.10% {
    left: 10px;
    transform:  translate(0,0px);
  }
  01% {
    left: 10px;
    transform:  translate(0,0px);
  }
  01.05% {
    left: 10px;
    transform:  translate(0,-100px);
  }
  100% {
    left: 10px;
    transform:  translate(0,-100px);
  }
}

@keyframes pl_sc-logo {
  0% {
    left: 20px;
    transform:  translate(0,-100px);
  }
  0.1% {
    left: 20px;
    transform:  translate(0,-100px);
  }
  0.15% {
    left: 20px;
    transform:  translate(0,0px);
  }
  0.2% {
    left: -18px;
    transform:  translate(0,0px);
  }
  01% {
    left: -18px;
    transform:  translate(0,0px);
  }
  01.05% {
    left: -18px;
    transform:  translate(0,-100px);
  }
  100% {
    left: -20px;
    transform:  translate(0,-100px);
  }
}

@keyframes pl_sc-texte {
  0% {
    transform:  translate(-300px,0);
  }
  0.2% {
    transform:  translate(-300px,0);
  }
  0.3% {
    transform:  translate(0,0);
  }
  01% {
    transform:  translate(0,0);
  }
  01.05% {
    transform:  translate(0,0);
  }
  100% {
    transform:  translate(0,0);
  }
}




/* KEYFRAMES FOR TWITTER */
@keyframes pl_tw {
  0% {
    left: 10px;
    transform:  translate(0,-100px);
  }
  31.1% {
    left: 10px;
    transform:  translate(0,-100px);
  }
  31.10% {
    left: 10px;
    transform:  translate(0,0px);
  }
  32% {
    left: 10px;
    transform:  translate(0,0px);
  }
  32.05% {
    left: 10px;
    transform:  translate(0,-100px);
  }
  100% {
    left: 10px;
    transform:  translate(0,-100px);
  }
}

@keyframes pl_tw-logo {
  0% {
    left: 20px;
    transform:  translate(0,-100px);
  }
  31.1% {
    left: 20px;
    transform:  translate(0,-100px);
  }
  31.15% {
    left: 20px;
    transform:  translate(0,0px);
  }
  31.2% {
    left: -18px;
    transform:  translate(0,0px);
  }
  32% {
    left: -18px;
    transform:  translate(0,0px);
  }
  32.05% {
    left: -18px;
    transform:  translate(0,-100px);
  }
  100% {
    left: -20px;
    transform:  translate(0,-100px);
  }
}

@keyframes pl_tw-texte {
  0% {
    transform:  translate(-300px,0);
  }
  31.2% {
    transform:  translate(-300px,0);
  }
  31.3% {
    transform:  translate(0,0);
  }
  32% {
    transform:  translate(0,0);
  }
  32.05% {
    transform:  translate(0,0);
  }
  100% {
    transform:  translate(0,0);
  }
}



/* KEYFRAMES FOR CURSE */
@keyframes pl_curse {
  0% {
    left: 10px;
    transform:  translate(0,-100px);
  }
  61.1% {
    left: 10px;
    transform:  translate(0,-100px);
  }
  61.10% {
    left: 10px;
    transform:  translate(0,0px);
  }
  62% {
    left: 10px;
    transform:  translate(0,0px);
  }
  62.05% {
    left: 10px;
    transform:  translate(0,-100px);
  }
  100% {
    left: 10px;
    transform:  translate(0,-100px);
  }
}

@keyframes pl_curse-logo {
  0% {
    left: 20px;
    transform:  translate(0,-100px);
  }
  61.1% {
    left: 20px;
    transform:  translate(0,-100px);
  }
  61.15% {
    left: 20px;
    transform:  translate(0,0px);
  }
  61.2% {
    left: -18px;
    transform:  translate(0,0px);
  }
  62% {
    left: -18px;
    transform:  translate(0,0px);
  }
  62.05% {
    left: -18px;
    transform:  translate(0,-100px);
  }
  100% {
    left: -20px;
    transform:  translate(0,-100px);
  }
}

@keyframes pl_curse-texte {
  0% {
    transform:  translate(-300px,0);
  }
  61.2% {
    transform:  translate(-300px,0);
  }
  61.3% {
    transform:  translate(0,0);
  }
  62% {
    transform:  translate(0,0);
  }
  62.05% {
    transform:  translate(0,0);
  }
  100% {
    transform:  translate(0,0);
  }
}





/* KEYFRAMES FOR FACEBOOK */
@keyframes pl_fb {
  0% {
    left: 10px;
    transform:  translate(0,-100px);
  }
  81.1% {
    left: 10px;
    transform:  translate(0,-100px);
  }
  81.10% {
    left: 10px;
    transform:  translate(0,0px);
  }
  82% {
    left: 10px;
    transform:  translate(0,0px);
  }
  82.05% {
    left: 10px;
    transform:  translate(0,-100px);
  }
  100% {
    left: 10px;
    transform:  translate(0,-100px);
  }
}

@keyframes pl_fb-logo {
  0% {
    left: 20px;
    transform:  translate(0,-100px);
  }
  81.1% {
    left: 20px;
    transform:  translate(0,-100px);
  }
  81.15% {
    left: 20px;
    transform:  translate(0,0px);
  }
  81.2% {
    left: -18px;
    transform:  translate(0,0px);
  }
  82% {
    left: -18px;
    transform:  translate(0,0px);
  }
  82.05% {
    left: -18px;
    transform:  translate(0,-100px);
  }
  100% {
    left: -20px;
    transform:  translate(0,-100px);
  }
}

@keyframes pl_fb-texte {
  0% {
    transform:  translate(-300px,0);
  }
  81.2% {
    transform:  translate(-300px,0);
  }
  81.3% {
    transform:  translate(0,0);
  }
  82% {
    transform:  translate(0,0);
  }
  82.05% {
    transform:  translate(0,0);
  }
  100% {
    transform:  translate(0,0);
  }
}




/* KEYFRAMES FOR INSTAGRAM */
@keyframes pl_ig {
  0% {
    left: 10px;
    transform:  translate(0,-100px);
  }
  91.1% {
    left: 10px;
    transform:  translate(0,-100px);
  }
  91.10% {
    left: 10px;
    transform:  translate(0,0px);
  }
  92% {
    left: 10px;
    transform:  translate(0,0px);
  }
  92.05% {
    left: 10px;
    transform:  translate(0,-100px);
  }
  100% {
    left: 10px;
    transform:  translate(0,-100px);
  }
}

@keyframes pl_ig-logo {
  0% {
    left: 20px;
    transform:  translate(0,-100px);
  }
  91.1% {
    left: 20px;
    transform:  translate(0,-100px);
  }
  91.15% {
    left: 20px;
    transform:  translate(0,0px);
  }
  91.2% {
    left: -18px;
    transform:  translate(0,0px);
  }
  92% {
    left: -18px;
    transform:  translate(0,0px);
  }
  92.05% {
    left: -18px;
    transform:  translate(0,-100px);
  }
  100% {
    left: -20px;
    transform:  translate(0,-100px);
  }
}

@keyframes pl_ig-texte {
  0% {
    transform:  translate(-300px,0);
  }
  91.2% {
    transform:  translate(-300px,0);
  }
  91.3% {
    transform:  translate(0,0);
  }
  92% {
    transform:  translate(0,0);
  }
  92.05% {
    transform:  translate(0,0);
  }
  100% {
    transform:  translate(0,0);
  }
}