@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

*, *::after {
    margin: 0;
    padding: 0;

    font-family: 'Montserrat', 'Tahoma';
}

html {
    overflow: auto !important;
    background-color: transparent !important;
}

body {
    background-color: #FAFAFA;

    .navbar {
        margin-bottom: 50px;
    }

    footer.footer {
        height: 20px !important;
    }

    .tile {
        width: auto;
    }
}

@media screen and (max-width: 400px) {
    .tile {
        width: 100vw !important;
    }
}

.page-enter-active, .page-leave-active {
    transition: opacity .5s;
}

.page-enter, .page-leave-to {
    opacity: 0;
}
